.Navbar {
  max-width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0.8em;
  font-weight: 600;
  background-color: #fff;
  box-shadow: 5px 5px 15px gray;
}

.Logo {
  margin-left: 20px;
}

.Navbar li a {
  font-size: 20px;
  margin: 20px;
  color: black;
  text-decoration: none;
}

.Navbar li a:hover {
  cursor: pointer;
  border-bottom: 3px dotted black;
  padding-bottom: 5px;
  transition-duration: 0.2s;
}

.Navbar__links {
  display: flex;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .Navbar__links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100%;
    bottom: 0;
    margin-bottom: 0;
    height: 100%;
    font-size: 5em;
    background-color: white;
    visibility: hidden;
  }

  .Show-nav .Navbar__links {
    width: 100%;
    right: 0;
    visibility: visible;
  }

  .Navbar__item {
    display: block;
    padding: 1.5rem;
    font-size: 10vw;
  }
}
